<div class="image-container">
    <%= link_to image_path(image) do %>
        <%= image_tag url_for(image.image_file) %>
    <% end %>

    <h2><%= unless image.title.blank? then image.title else '(Untitled)' end %></h2>
    <p><%= unless image.description.blank? then image.description else '(No description provided)' end %></p>
    <p><b>tags:</b> <%= unless image.tags.blank? then image.tags else '(No tags provided)' end %></p>
    <p><b>views:</b> <%= image.views %></p>
    <p><b>upload date:</b> <%= image.created_at %></p>
    <p><b>uploader:</b> <%= link_to image.user.username, user_path(image.user.username) %></p>

    <% if image.user == current_user %>
        <b><%= link_to "delete", image_path(image), method: :delete %></b>
    <% end %>
</div>
