<h1 class="center title"><%= link_to "imagefy!", 'https://github.com/javanag/imagefy' %></h1>
<div class="navbar">
    <ul>
        <li><%= link_to "stream", images_path %></li>
        <li><%= link_to "surprise", surprise_index_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to "upload", new_image_path %></li>
            <li><%= link_to "profile", user_path(current_user.username) %></li>
            <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "login", new_user_session_path %></li>
        <% end %>
    </ul>
</div>
